body {
  padding: 50px;
  font-family: sans-serif;
}

#container {
  display: flex;
  justify-content: flex;
  width: 500px;
  height: 600px;
  margin: 0 auto;
  -webkit-animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-top 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

.mui-tabs__bar.mui-tabs__bar--justified {
  height: 40px;
  background-color: #efefef;
}
.fa-trash-alt {
  cursor: pointer;
}
